Node-red flows.json
[{"id":"dfd222059289b294","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b231b580c7ef0343","type":"ibmiot in","z":"dfd222059289b294","authentication":"apiKey","apiKey":"d7e4a15feb6c5da4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Python_iot","applicationId":"","deviceType":"ibm_iot","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["e8abaa5a862b452d","52a041994f068d64","f5175ef84e71435e","765caa37b08e3127"]]},{"id":"e8abaa5a862b452d","type":"debug","z":"dfd222059289b294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":450,"y":360,"wires":[]},{"id":"80c525b8132cdb6b","type":"ui_gauge","z":"dfd222059289b294","name":"","group":"0d1c6a81e87e4e55","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":180,"wires":[]},{"id":"52a041994f068d64","type":"function","z":"dfd222059289b294","name":"temperature","func":"msg.payload=msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":180,"wires":[["80c525b8132cdb6b"]]},{"id":"f5175ef84e71435e","type":"function","z":"dfd222059289b294","name":"humidity","func":"msg.payload=msg.payload.humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["d3aff01c8cc1975d"]]},{"id":"d3aff01c8cc1975d","type":"ui_gauge","z":"dfd222059289b294","name":"","group":"0d1c6a81e87e4e55","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#cb3ab0"],"seg1":"","seg2":"","className":"","x":680,"y":280,"wires":[]},{"id":"5dec8787b6814e5f","type":"ui_button","z":"dfd222059289b294","name":"","group":"0d1c6a81e87e4e55","order":2,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"Motor ON\"}","payloadType":"str","topic":"","topicType":"str","x":120,"y":620,"wires":[["e6b3bce32d9a57fb","4a3484d3fd97e1e6"]]},{"id":"e6b3bce32d9a57fb","type":"debug","z":"dfd222059289b294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":520,"wires":[]},{"id":"4a3484d3fd97e1e6","type":"ibmiot out","z":"dfd222059289b294","authentication":"apiKey","apiKey":"d7e4a15feb6c5da4","outputType":"evt","deviceId":"Python_iot","deviceType":"ibm_iot","eventCommandType":"command","format":"string","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":620,"wires":[]},{"id":"9a305cd088a93e89","type":"http in","z":"dfd222059289b294","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["6e60ebac6ee225ee"]]},{"id":"6e60ebac6ee225ee","type":"function","z":"dfd222059289b294","name":"hhtpfunctionnode","func":"msg.payload={\"temperature\":global.get(\"t\"),\"humidity\":global.get(\"h\"),\"pH\":global.get(\"p\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["e622632ed4bf0434"]]},{"id":"e622632ed4bf0434","type":"http response","z":"dfd222059289b294","name":"","statusCode":"","headers":{},"x":750,"y":440,"wires":[]},{"id":"8f0a5c71a0fbe7a6","type":"ui_button","z":"dfd222059289b294","name":"","group":"0d1c6a81e87e4e55","order":4,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"Motor OFF\"}","payloadType":"str","topic":"","topicType":"str","x":130,"y":520,"wires":[["4a3484d3fd97e1e6","e6b3bce32d9a57fb"]]},{"id":"88ae46f7564fe393","type":"http in","z":"dfd222059289b294","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":150,"y":800,"wires":[["c5330e2c6ec82717","cf940508615116f0"]]},{"id":"c5330e2c6ec82717","type":"http response","z":"dfd222059289b294","name":"","statusCode":"","headers":{},"x":330,"y":920,"wires":[]},{"id":"cf940508615116f0","type":"function","z":"dfd222059289b294","name":"","func":"msg.payload=msg.payload.command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":700,"wires":[["1914e004221924fc","4a3484d3fd97e1e6"]]},{"id":"1914e004221924fc","type":"debug","z":"dfd222059289b294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":820,"wires":[]},{"id":"be69eab5385787cb","type":"comment","z":"dfd222059289b294","name":"Real Time water monitoring & control system","info":"","x":750,"y":20,"wires":[]},{"id":"765caa37b08e3127","type":"function","z":"dfd222059289b294","name":"pH","func":"msg.payload =msg.payload.pH\nglobal.set('p', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[["63a0e3f07c8a0484"]]},{"id":"63a0e3f07c8a0484","type":"ui_chart","z":"dfd222059289b294","name":"","group":"0d1c6a81e87e4e55","order":4,"width":0,"height":0,"label":"pH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#c48df7","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":670,"y":80,"wires":[[]]},{"id":"f6723b33ee4024e0","type":"ui_spacer","z":"dfd222059289b294","name":"spacer","group":"d99cefdf8f5b3159","order":1,"width":1,"height":1},{"id":"d7e4a15feb6c5da4","type":"ibmiot","name":"","keepalive":"60","serverName":"uwujz1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"0d1c6a81e87e4e55","type":"ui_group","name":"ibm_iot","tab":"0b3b4a362ea6184d","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d99cefdf8f5b3159","type":"ui_group","name":"","tab":"0b3b4a362ea6184d","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0b3b4a362ea6184d","type":"ui_tab","name":"ESP","icon":"dashboard","disabled":false,"hidden":false}]